@font-face {
    font-family: jaro-regular;
    src: url(./fonts/jockey-one/Jaro/Jaro-Regular-VariableFont_opsz.ttf);
}

@font-face {
    font-family: jockey-one;
    src: url(./fonts/jockey-one/Jockey_One/JockeyOne-Regular.ttf);
}

body {
    background-color: #F6FCDF;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: jockey-one;
}

.header {
    background-color: #859F3D;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-text {
    color: white;
}

.jaro {
    font-family: jaro-regular;
}

.jockey {
    font-family: jockey-one;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 100px;
    gap: 50px;
    box-sizing: border-box;
}

.panel {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: 40vw;
    padding: 20px 40px 20px 40px;
}

#car-metrics-form {
    display: flex;
    flex-direction: column;
    font-family: jockey-one;
}

#car-metrics-form label {
    font-size: 20px;
}

.panel-title {
    font-size: 30px;
}

.row-flex {
    display: flex;
    flex-direction: row;
}

.justify-even {
    justify-content: space-evenly;
}

.justify-end {
    justify-content: space-between
}

.column-flex {
    display: flex;
    flex-direction: column;
}

select {
    border: none;
    border-radius: 5px;
    background-color: #d7ed9a;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;

}

.left-panel {
    gap: 2000px;
}

.margin-small {
    margin-top: 10px;
    margin-bottom: 10px
}

#evaluate-button {
    background-color: #859F3D;
    color: white;
    font-style: jockey-one;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: medium;
    font-weight: bold;
    align-self: end;
    margin-right: 20px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.shown {
    display: flex;
}

.results-detail-row {
    margin-top: 5px;
    margin-bottom: 0;
}

#results-estimated-price {
    margin-top: 10px;
    margin-bottom: 0;
    color: #859F3D;
}

input {
    border: none;
    width: 200px;
    background-color: #F6FCDF;
    padding: 5px;
    box-sizing: border-box;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}